:root {
    --primary-color: #83c56f;
    --color-even: #c8e6c9;
    --color-odd: #f1f1f1;
    --delete-color: #be0744;
}

.container {
    justify-content: center;
}

.container2 {
    margin: 100px;
    justify-content: center;
    display: grid;
    height: 200px;
}

.add-customer-th {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: background-color 0.2s ease;
}

.add-customer-th:hover {
    background-color: #d3f9d8;
}
